.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    height: 150px;
}

.nav {
    height: 100%;
}

.ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    height: 100%;
}

.selected {
    color: #0A7CEC;
    border-bottom: 5px solid #0A7CEC;
    height: 100%;
    display: flex;
    align-items: center;
}

.headerImg {
    /* immagine non fornita, ho fatto uno screen della reference
    quindi risulta un po' di bassa qualità */
    background-image: url("/img/headerImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}