/* utility */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.accent {
    color: #1862a8;
}

/* ////////////////////// */

.postFooter {
    height: 150px;
    background-color: rgb(45, 45, 45);
}

.button {
    padding: 15px;
    border: 5px solid #155490;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
}

.button:hover {
    background-color: gray;
    cursor: pointer;
}

.socials {
    gap: 20px;
}